@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    background: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: url(birth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
h1{
    margin-left: 20px;
    font-size: 4rem;
    color: #ecf0f1;
    text-transform: uppercase;
    border-bottom: 5px solid #d35400;
    margin-bottom: 20px;
}
.count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ecf0f1;
    text-align: center;
}
#num{
    margin-left: 30px;
}
p{
    font-size: 4rem;
    text-align: center;
}
